p {
  font-size: : 12px;
  text-decoration: line-through
  }
h1 {
  color: #008000;
  text-transform: uppercase;
  background-color: #888888;
  margin: 20px;
  padding: 40px;
  border-style: dashed;
  border-width: 3px;
  border-color: red;
}
h2 {
  text-decoration: underline;
}
body {
  font-family: helvetica;
}

#intro {
    color: red;
    font-weight: bold;
  }

.spotlight {
  background-color: purple

}
 p, h2 {
   color: #002600;
 }
